In [1]:
import pandas as pd

In [11]:
!jq -r '(map(keys) | add | unique) as $cols | map(. as $row | $cols | map($row[.])) as $rows | $cols, $rows[] | @csv' reddit_jokes.json > reddit_jokes.csv

In [12]:
jokes_df = pd.read_csv('reddit_jokes.csv')

In [14]:
del jokes_df['id']

In [15]:
jokes_df['joke'] = jokes_df['title'] + " ZZZBODYZZZ " + jokes_df['body'] + "ZZZENDZZZ"

In [16]:
jokes_df['joke'][0]

'I hate how you cant even say black paint anymore ZZZBODYZZZ Now I have to say "Leroy can you please paint the fence?"ZZZENDZZZ'

In [10]:
PATH = '~/src/joke-dataset'
!ls

README.md		 reddit_jokes_sample.json  stupidstuff.py  wocka.json
reddit_jokes.json	 reddit.py		   summary.py	   wocka.py
reddit_jokes_sample.csv  stupidstuff.json	   Untitled.ipynb

In [17]:
jokes_df.describe()

               score
count  194553.000000
mean      118.223255
std       936.231277
min         0.000000
25%         0.000000
50%         3.000000
75%        16.000000
max     48526.000000

In [23]:
j_df=jokes_df[jokes_df['score'] >= 17]

In [25]:
j_df.count()

body     47295
score    47917
title    47917
joke     47295
dtype: int64